* {
    margin: 0;
    padding: 0;
}


.bloc {
    background-color: rgb(247, 228, 226);
    padding: 10px;
    margin: 10px;
    border-radius: 30px;
    text-align: center;
} 

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;

}

img {
    height: 200px;
}

h1 {
    color: salmon;
}

h2 {
    color: salmon;
}

h3 {
    color: salmon;
}

#navigation {
    background-color:rgb(247, 172, 164);
    display: flex;
    justify-content: space-between;
    color: salmon;
   
    
}

#navigation a {

     text-decoration: none;
     color: brown;

}