.bloc {
    background-color: salmon;
    padding: 20px;
    margin: 20px 0;
    border-radius: 30px;
    text-align: center;
} 

.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    


}

img {
    height: 200px;
    display: block;
    margin: 0 auto;
}

h1 {
    color: red;
}

h2 {
    color: red;
}

h3 {
    color: red;
}

